In [ ]:
import sys
# Check Python version
if sys.version_info.major == 3 and sys.version_info.minor >= 6:
  print("Hello, World!")
  print(f"Python version: {sys.version}")
else:
  print("Please use Python 3.6 or higher.")

Data Types - Numeric

In [ ]:
age = 23 #int
pi = 3.14 #float
temperature = -5.5 #float
print("data type of variable age = ", type(age))
print("data type of variable pi = ", type(pi))
print("data type of variable temperature = ", type(temperature))

Data Types - Sequence - String

In [ ]:
name = "Alice"
greeting = 'Hello'
address = "123 Main St"
print("data type of the variable name = ",type(name))
print("data type of the variable greeting = ",type(greeting))
print("data type of the variable address = ",type(address))
# slice only one element
print("The first letter of the name is:", name[0])
print("The last letter of the name is:", name[-1])
# slice a range of elements
print("The second letter to the fourth of the name is:", name[1:4])
print("The first two letters of the name are:", name[:2])
print("Substring starting from the third letter is:", name[2:])

Data Types - Sequence - List

In [ ]:
list1 = [1, 2, 3, 4]
mixed_list = [12, "Hello", True]
# List is mutable
mixed_list[0] = False
mixed_list

Data Types - Sequence - Tuple

In [ ]:
colors = ('red', 'green', 'yellow', 'blue')
print("First element:", colors[0])
print("Last two elements:", colors[2:])
print("Middle two elements:", colors[1:3])
# colors[0] = 'purple'
colors # will generate an error as tuple is immutable.

Data Types - Sequence - Dict

In [ ]:
person = {'name':'John','age':30,'city':'Pittsburgh'}
print(f"Hello my name is {person['name']}. I am {person['age']} years old and I live at {person['city']}.")
print("All keys:", list(person.keys()))
print("All values:", list(person.values()))

Data Types - Set

In [ ]:
unique_numbers = {1,2,3,3,3,3,4,5}
print(unique_numbers)

Data Types - Boolean

In [ ]:
is_student = True
has_license = False
print("data type of the variable is_student = ",type(is_student))
print("data type of the variable has_license = ",type(has_license))

Sample Code - if-else statement

In [ ]:
num = 10
if num > 0:
  print("Positive")
elif num == 0:
  print("Zero")
else:
  print("Non-positive")

Sample Code - Comparision Operator

In [ ]:
x = 5
y = 10
if x > 0 and y < 20:
  print("Both conditions are true")
if x > 0 or y > 20:
  print("At least one condition is true")
if not x == 0:
  print("x is not equal to 0")

Sample Code - Logical Operator

In [ ]:
# Define two boolean variables
a = True
b = False
# Using the ’and’ operator
if a and b:
  print("Both a and b are True")
else:
  print("Either a or b is False") # This will be printed
# Using the ’or’ operator
if a or b:
  print("At least one of a or b is True") # This will be printed
else:
  print("Both a and b are False")
# Using the ’not’ operator
if not a:
  print("a is False") # This will not be printed
else:
  print("a is True") # This will be printed

Sample Code - Various Loops

In [ ]:
# for loop:
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
  print(fruit)
# While loop:
count = 0
while count < 5:
  print("Count is:", count)
  count += 1
# Break
fruits = ["apple", "banana", "orange"]
print("loop 1")
for fruit in fruits:
  print(fruit)
  if fruit == "apple":
    break
# Continiue
print("loop 2")
for fruit in fruits:
  if fruit == "apple":
    continue
  else:
    print(fruit)

Correct way to Write Function

In [ ]:
def add_binary(a, b):
  '''
  Returns the sum of two decimal numbers in binary digits.
  Parameters:
    a (int): A decimal integer
    b (int): Another decimal integer
  Returns:
    binary_sum (str): Binary string of the sum of a and b
'''
  binary_sum = bin(a+b)[2:]
  return binary_sum
add_binary(2,3)

Example on Built - in - Function

In [ ]:
print("Hello, World!") # Output: Hello, World!
length = len("Hello") # Output: 5
print(length)
data_type = type(42)
print(data_type) # Output: <class ’int’>
total = sum([1, 2, 3]) # Output: 6
print(total)

In [ ]:
# str.upper(): Converts all characters in a string to uppercase.
message = "hello".upper() # Output: "HELLO"
print(message)
# list.append(): Adds an element to the end of a list.
fruits = ["apple", "banana"]
fruits.append("cherry") # Output: ["apple", "banana", "cherry"]
print(fruits)
# dict.get(): Returns the value associated with a key in a dictionary.
info = {"name": "Alice", "age": 25}
age = info.get("age") # Output: 25
print(info)
print(age)

Example of well-structured user-defined function

In [ ]:
def temperature_converter():
  """
  Converts temperature between Celsius and Fahrenheit.
  This function prompts the user to specify the conversion type (Celsius to Fahrenheit
  or Fahrenheit to Celsius)
  and then asks for the temperature value. It calculates and returns the converted
  temperature.
  Returns:
  float: The converted temperature value.
  """
  print("Choose conversion type:")
  print("1. Celsius to Fahrenheit")
  print("2. Fahrenheit to Celsius")
  # Get conversion choice from user
  choice = input("Enter 1 or 2: ")
  if choice == "1":
    # Celsius to Fahrenheit conversion
    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius}C is equal to {fahrenheit}F")
    return fahrenheit
  elif choice == "2":
    # Fahrenheit to Celsius conversion
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    celsius = (fahrenheit - 32) * 5/9
    print(f"{fahrenheit}F is equal to {celsius}C")
    return celsius
  else:
    print("Invalid choice. Please enter 1 or 2.")
    return None
# Call the function
temperature_converter()

Global Varaible

In [ ]:
x = 10 # Global Variable.
def print_global():
  print(x) # Accessing global variable
print_global() # Output: 10

In [ ]:
def print_local():
  d = 5 # Local variable
  print(d)
print_local() # Output: 5
# print(d) # This would cause an error because y is not accessible outside the function

In [ ]:
x = 10 # Global variable
def modify_global():
  global x # Declaring x as global
  x = 20 # Modifying global x
modify_global()
print(x) # Output: 20

#  TO - DO - Task

# Task 1. Classify Study Time:
1. Create empty lists for study time classifications:
(a) Low: less than 3 hours.
(b) Moderate: between 3 and 5 hours.
(c) High: more than 5 hours.
2. Iterate over the time_data list and add each study hour to the appropriate category.
3. Print the lists to verify the classifications.

In [ ]:
time_data = [
(3.5, 2.0, 7.0), (5.0, 1.5, 6.5), (2.5, 3.0, 8.0),
(4.0, 2.0, 6.0), (1.5, 4.5, 9.0), (3.0, 2.5, 7.5),
(5.5, 1.0, 6.0), (2.0, 3.5, 8.5), (4.5, 2.0, 7.0),
(3.0, 3.0, 7.5), (6.0, 1.5, 6.0), (2.5, 4.0, 8.0),
(4.0, 2.5, 7.0), (5.0, 2.0, 6.5), (3.5, 2.5, 7.0)
]

In [ ]:
low_study_time = []
moderate_study_time = []
high_study_time = []
for i in range(len(time_data)):
  if time_data[i][0] < 3:
    low_study_time.append(time_data[i][0])
  elif time_data[i][0] > 3 and time_data[i][0] < 5:
    moderate_study_time.append(time_data[i][0])
  else:
    high_study_time.append(time_data[i][0])
print(f"Low Study Time:  {low_study_time}");
print("Moderate Study Time: ", moderate_study_time);
print("High Study Time: ", high_study_time);

# Task 2. Based on Data – Answer all the Questions:
1. How many days had low study time?
  (a) Hint: Count the number of items in the low study list and print the result.
2. How many days had moderate study time?
3. How many days had high study time?

In [ ]:
low_study_time_count=0;
moderate_study_time_count=0;
high_study_time_count=0;
for i in range(len(low_study_time)):
  low_study_time_count+=1;
for i in range(len(moderate_study_time)):
  moderate_study_time_count+=1;
for i in range(len(high_study_time)):
  high_study_time_count+=1
print(f"Low Study Time:  {low_study_time_count}");
print(f"Moderate Study Time:  {moderate_study_time_count}");
print(f"High Study Time: {high_study_time_count}");

# Task 3. Convert Study Hours to Minutes:
 Convert each study hour value into minutes and store it in a new list called study_minutes.

            Formula: Minutes = Hours × 60

1. Iterate over the time_data list and apply the formula to the study hours.
2. Store the results in the new list.
3. Print the converted values.

In [ ]:
study_minutes = []
for i in range (len(time_data)):
  study_minutes.append(time_data[i][0]*60)
print(f"Study minutes: {study_minutes}")

# Task 4. Analyze Average Time Use:
Scenario: Each record contains daily hours of study, entertainment, and sleep.
1. Create empty lists for study_hours, entertainment_hours, and sleep_hours.
2. Iterate over time_data and extract values into each list.
3. Calculate and print:
(a) Average hours spent studying.
(b) Average hours spent on entertainment.
(c) Average hours spent sleeping.

In [ ]:
study_hours=[];
entertainment_hours=[];
sleep_hours=[];
for i in range(len(time_data)):
  study_hours.append(time_data[i][0])
  entertainment_hours.append(time_data[i][1])
  sleep_hours.append(time_data[i][2])
study_average=sum(study_hours)/len(study_hours)
entertainment_average=sum(entertainment_hours)/len(entertainment_hours)
sleep_average=sum(sleep_hours)/len(sleep_hours)
print(f"Average Hours on study: {study_average}")
print(f"Average Hours on entertainment: {entertainment_average}")
print(f"Average Hours on sleep: {sleep_average}")

# Task 5. Visualization - Study vs Sleep Pattern:
1. Import matplotlib.pyplot as plt.
2. Plot a scatter plot with:
    *    x-axis: Study hours
    *   y-axis: Sleep hours






3. Add labels, title, and color.

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(study_hours,sleep_hours,color="red")
plt.xlabel("Study Hours")
plt.ylabel("Sleep Hours")
plt.title("Study vs Sleep Pattern")
plt.show()

### **8.1.1 Exercise - Recursion:**

# Task 1 - Sum of Nested Lists:
Scenario: You have a list that contains numbers and other lists of numbers (nested lists).
You want to find the total sum of all the numbers in this structure.
Task:

*   Write a recursive function sum_nested_list(nested_list) that:


1. Takes a nested list (a list that can contain numbers or other lists of numbers) as
input.
2. Sums all numbers at every depth level of the list, regardless of how deeply nested
the numbers are.
• Test the function with a sample nested list, such as
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]].
The result should be the total sum of all the numbers.

In [ ]:
def sum_nested_list(nested_list):
  '''
  This function will sum the values of the nested lists
  param:
    nested_list(list):nested list of numbers
  return:
    total_sum (int):total sum of all the numbers in the nested list
  '''
  total_sum = 0
  for item in nested_list:
    if isinstance(item, list):
      total_sum += sum_nested_list(item)
    else:
      total_sum+=item
  return total_sum
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]
sum_nested_list(nested_list)

# Task 2 - Generate All Permutations of a String:
Scenario: Given a string, generate all possible permutations of its characters. This is useful
for understanding backtracking and recursive depth-first search.
### Task:
• Write a recursive function generate_permutations(s) that:


     Takes a string s as input and returns a list of all unique permutations.



• Test with strings like ”abc” and ”aab”.

    print(generate_permutations("abc"))
### Should return [’abc’, ’acb’, ’bac’, ’bca’, ’cab’, ’cba’]

In [ ]:
def generate_permutations(s):
  '''
  this function will generate all the permutations of the string
  param:
    s(str):string
  return:
    permutations_list(list):list of all the permutations
  '''
  if s == "":
    return [""]
  permutations_list=[];
  for char in s:
    generate_permutations_list=generate_permutations(s.replace(char, "", 1))
    for permutation in generate_permutations_list:
      permutations_list.append(char + permutation)
  return permutations_list
print(generate_permutations("abc"))

# Task 3 - Directory Size Calculation:
Directory Size Calculation Scenario: Imagine a file system where directories can contain files
(with sizes in KB) and other directories. You want to calculate the total size of a directory,
including all nested files and subdirectories.
## Task:
1. Write a recursive function calculate_directory_size(directory) where:


  *   directory is a dictionary where keys represent file names (with values as sizes in KB) or directory names (with values as another dictionary representing a subdi-
rectory).
  *   The function should return the total size of the directory, including all nested
subdirectories.



2. Test the function with a sample directory structure.

In [ ]:
def calculate_directory_size(directory):
  '''
  this function will calculate the total size of the directory
  param:
    directory(dict):dictionary of the directory
  return
    total_size(int):total size of the directory
  '''
  total_size = 0;
  for keys,values in directory.items():
    if isinstance(values,dict):
      total_size+=calculate_directory_size(values)
    else:
      total_size+=values
  return total_size
directory_structure = {
"file1.txt": 200,
"file2.txt": 300,
"subdir1": {
"file3.txt": 400,
"file4.txt": 100
},
"subdir2": {
"subsubdir1": {
"file5.txt": 250
},
"file6.txt": 150
}
}
print(calculate_directory_size(directory_structure));

# **8.2.1 Exercises - Dynamic Programming:**

# Task 1 - Coin Change Problem:
Scenario: Given a set of coin denominations and a target amount, find the minimum number
of coins needed to make the amount. If it’s not possible, return - 1.
### Task:


1.   Write a function min_coins(coins, amount) that:


*   Uses DP to calculate the minimum number of coins needed to make up the
amount.



2.   Test with coins = [1, 2, 5] and amount = 11. The result should be 3 (using coins [5, 5, 1]).

In [ ]:
def min_conis(coins, amount):
  '''
  this function will find the minimum number of coins needed to make the amount
  param:
    coins(list):list of coins
    amount(int):amount to make
  return:
    dp[amount](int):minimum number of coins needed to make the amount
  '''
  dp = [float('inf')] * (amount + 1)
  dp[0] = 0
  for coin in coins:
    for i in range(coin, amount + 1):
      dp[i] = min(dp[i], dp[i - coin] + 1)
  return dp[amount] if dp[amount] != float('inf') else -1
min_conis([1,2,5],11)

# Task 2 - Longest Common Subsequence (LCS):
Scenario: Given two strings, find the length of their longest common subsequence (LCS).
This is useful in text comparison.
## Task:
1. Write a function longest_common_subsequence(s1, s2) that:


*  Uses DP to find the length of the LCS of two strings s1 and s2.


2. Test with strings like "abcde" and "ace"; the LCS length should be 3 ("ace").

In [ ]:
def longest_common_subsequences(s1,s2):
  '''
  this function will find the length of the longest common subsequence of two strings
  param:
    s1(String):group of letters
    s2 (String): group of letters
  return:
    dp[m][n](int):length of longest common subsequence
  '''
  m=len(s1)
  n=len(s2)
  dp=[[0]*(n+1) for _ in range (m+1)]
  for i in range (1,m+1):
    for j in range (1,n+1):
      if (s1[i-1]==s2[j-1]):
        dp[i][j]=dp[i-1][j-1]+1
      else:
        dp[i][j]=max(dp[i-1][j],dp[i][j-1])
  return dp[m][n]
print(longest_common_subsequences("abcde","ace"))

# Task 3 - 0/1 Knapsack Problem:
Scenario: You have a list of items, each with a weight and a value. Given a weight capacity,
maximize the total value of items you can carry without exceeding the weight capacity.
## Task:
1. Write a function knapsack(weights, values, capacity) that:

*   Uses DP to determine the maximum value that can be achieved within the given
weight capacity.

2. Test with weights [1, 3, 4, 5], values [1, 4, 5, 7], and capacity 7. The re-
sult should be 9.

In [ ]:
def knapsack(weights,values,capacity):
  '''
  this function will find the maximum value that can be achieved within the given weight capacity
  param:
    weights(list):list of weights
    values(list):list of values
    capacity(int):weight capacity
  return:
    dp[n][capacity](int):maximum value that can be achieved
  '''
  n=len(values)
  dp=[[0 for _ in range (capacity+1)] for _ in range (n+1)]
  for i in range (1,n+1):
    for w in range (1,capacity+1):
      if weights[i-1]<=w:
        dp[i][w]=max(dp[i-1][w],values[i-1]+dp[i-1][w-weights[i-1]])
      else:
        dp[i][w]=dp[i-1][w]
  return dp[n][capacity]
print(knapsack([1,3,4,5],[1,4,5,7],7))