# 2.1 Building Blocks of Pandas:

Creating a Simple Series.

In [ ]:
import pandas as pd
# Creating a simple Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

Types of Index.

In [ ]:
# Default Index
import pandas as pd
series = pd.Series([10, 20, 30])
print(series.index)
# Output: RangeIndex(start=0, stop=3, step=1)
# User Defined:
series = pd.Series([10, 20, 30],index=['a','b','c'])
print(series)
# Output:
# a 10
# b 20
# c 30
#datestime index
dates = pd.date_range('2023-01-01', periods=3)
series = pd.Series([10, 20, 30], index=dates)
print(series)
# Output:
# 2023-01-01 10
# 2023-01-02 20
# 2023-01-03 30

Acess and Reset Index.

In [ ]:
#Access
print(series.index)
# Set or Reset Index
series.index = ['x', 'y', 'z'] # Series
print(series.index)
# For DataFrame
df = pd.DataFrame({'A': [1, 2]}, index=['row1', 'row2'])
df.reset_index(inplace=True)
df
# Converts the index into a column

Creating DataFrames.

In [ ]:
# Transforming in-built data structures - DataFrame
# Style-1
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'],
              'Sue': ['Pretty good.', 'Bland.']})

# Style-2
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

Loading Data To DataFrames.

In [ ]:
#Importing Data from file
import pandas as pd
# path to your dataset must be given to built in read_csv("Your path") function.
dataset = pd.read_csv("Dataset/bank.csv")
dataset.head()
dataset.tail()
dataset.info()
# Run the above code and observe the output.

Creating DataFrames.

In [ ]:
# Transforming in-built data structures - DataFrame
# Style-1
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'],
              'Sue': ['Pretty good.', 'Bland.']})

# Style-2
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

Writing DataFrames to CSV.

In [ ]:
# Importing Data from file
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)  # creating a DataFrame

# Writing DataFrame to csv
df.to_csv('Dataset/output.csv', index=False)

# 2.2 Basic Operation on Data: Data Inspection and Exploration:

First Data Inspection and Exploration.

In [ ]:
import pandas as pd
# Sample DataFrame
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)
# View the first two rows
print(df.head(2))
# View the last row
print(df.tail(1))
# DataFrame information
print(df.info())
# Summary statistics
print(df.describe())
# Check dimensions of the DataFrame
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")
# Access the 'Age' column
print(df['Age'])
# Select rows by numerical index
print(df.iloc[0])  # First row
# Select rows by condition
print(df.loc[df['Age'] > 30])  # Rows where Age > 30

Sample Code and Output Explaination for df.info().

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, None],
    'Salary': [50000, 60000, 55000]
}

df = pd.DataFrame(data)

# Check info
df.info()

Sample Code and Output Explaination for df.describe().

In [ ]:
# Generate descriptive statistics
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, None],
    'Salary': [50000, 60000, 55000]
}

df = pd.DataFrame(data)

# Check summary statistics
df.describe()  # Generate descriptive statistics

Filtering Rows and Columns.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print(filtered_rows)

# Select Specific Columns
# Select only 'Name' and 'Salary' columns
selected_columns = df[['Name', 'Salary']]
print(selected_columns)

Droping and Adding a Columns.

In [ ]:
# Drop the 'Salary' column
df_without_salary = df.drop(columns=['Salary'])
print(df_without_salary)

# Drop the row with index 1 (Bob)
df_without_row = df.drop(index=1)
print(df_without_row)

# Add a new column for Bonus
df['Bonus'] = df['Salary'] * 0.1
print(df)

# 2.3 Basic Operation on Data - Data Wrangling - Common Data Cleaning operations:

Handling Missing values - Adding Missing Values.

In [ ]:
# Adding Some Missing Values
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(
    data=np.c_[iris['data'], iris['target']],
    columns=iris['feature_names'] + ['target']
)

# Introduce missing values randomly
np.random.seed(42)  # For reproducibility
mask = np.random.rand(*iris_df.shape) < 0.1  # ~10% missing values
iris_df[mask] = np.nan

# Check missing values
print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

Handling Missing values - Techniques for Filling Missing Values.

In [ ]:
# Filling missing values with forward fill (ffill), mean, median, and 0
iris_df_ffill = iris_df.ffill()
iris_df_mean = iris_df.fillna(iris_df.mean())
iris_df_median = iris_df.fillna(iris_df.median())
iris_df_zero = iris_df.fillna(0)
# Expand iris_df with filled columns
iris_df_expanded = pd.concat([
    iris_df,
    iris_df_ffill.add_suffix('_ffill'),
    iris_df_mean.add_suffix('_mean'),
    iris_df_median.add_suffix('_median'),
    iris_df_zero.add_suffix('_zero')
], axis=1)
# Display the head of the expanded DataFrame
print("\nDataset after Filling Missing Values:")
print(iris_df_expanded.head())

Some Common Operations on Data Cleaning.

In [ ]:
#--------------------------------------------------------------------
# -----------Trimming Whitespaces:----------------------------------
#--------------------------------------------------------------------
df = pd.DataFrame({'Name': ['Alice ', 'Bob '], 'Age': [25, 30]})
df['Name'] = df['Name'].str.strip()

#--------------------------------------------------------------------
#-------------Changing Datatype:-------------------------------------
#--------------------------------------------------------------------
df = pd.DataFrame({'Age': ['25', '30', '35']})
# Change 'Age' column data type to integer
df['Age'] = df['Age'].astype(int)
print(df)

#--------------------------------------------------------------------
#-------------Renaming Columns:-------------------------------------
#--------------------------------------------------------------------
# Rename columns
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print(df)

#--------------------------------------------------------------------
#--------------Removing Duplicates:-----------------------------------
#--------------------------------------------------------------------
# Remove duplicate rows
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
df = df.drop_duplicates()
print(df)

DataFrame Reshaping - Pivot and Melt.

In [ ]:
#------------------Pivoting----------------------------------------
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print(pivoted_df)

#---------------------------------------------------------------------------
#---------------------------Melting-----------------------------------------
#---------------------------------------------------------------------------

# Melt: Convert wide data back to long format
melted_df = pd.melt(
    pivoted_df.reset_index(),
    id_vars=['Date'],
    var_name='City',
    value_name='Temperature'
)

print(melted_df)

Data Transformation - Min-Max Scaling.

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())

print("Original Iris DataFrame:")
print(iris_df.head())

print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head())  # Display scaled data

Handling Categorical Variables - Ordinal or Label Encoding.

In [ ]:
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)

print(df)

Handling Categorical Variables - One Hot Encoding.

In [ ]:
import pandas as pd

df_municipalities = pd.DataFrame({
    'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']
})

# One-hot encoding
one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')

# Concatenate original DataFrame with encoded columns
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)

print(df_encoded)  # Display the result

In [ ]:
df_municipalities = pd.DataFrame({
    'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']
})
df_municipalities

Merging and Joining DataFrames - Concatenation.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)

# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)

Merging and Joining DataFrames - Merge.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

# 3 To - Do - Task

In [ ]:
import pandas as pd

## 3.1 Warming Up Exercises - Basic Inspection and Exploration:

### Problem 1 - Data Read, Write and Inspect:

Complete all following Task:
• Dataset for the Task: "bank.csv"
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:


    (a) columns with dtypes=object


    (b) unique values of those columns.


    (c) check for the total number of null values in each column.


3. Drop all the columns with dtypes object and store in new DataFrame, also write the DataFrame in
”.csv” with name ”banknumericdata.csv”
4. Read ”banknumericdata.csv” and Find the summary statistics.

In [ ]:
df = pd.read_csv("Dataset/bank.csv")

In [ ]:
df.info()

In [ ]:
object_columns = df.select_dtypes(include=['object']).columns
bank_numeric_df = df.drop(columns=object_columns)
bank_numeric_df.to_csv('Dataset/banknumericdata.csv', index=False)

In [ ]:
df_changed = pd.read_csv("Dataset/banknumericdata.csv")
df_changed.describe()

### Problem 2 - Data Imputations:

Complete all the following Task:



• Dataset for the Task: "medical_student.csv"
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify column with missing (null) values.
3. For the column with missing values fill the values using various techniques we discussed above. Try to explain why did you select the particular methods for particular column.
4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.
{Hint: dataset.duplicated.sum()}

In [ ]:
df=pd.read_csv("Dataset/medical_students_dataset.csv")
df["Student ID"]

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
while(df['Student ID'].isna().sum() > 0):
  previous_StudentId_added_by_one = df['Student ID'].shift(1) + 1
  df['Student ID'] = df['Student ID'].fillna(previous_StudentId_added_by_one)
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Height']=df['Height'].fillna(df['Height'].mean())
df['Weight']=df['Weight'].fillna(df['Weight'].mean())
df['Blood Type']=df['Blood Type'].fillna(df['Blood Type'].mode()[0])
df['BMI']=df['BMI'].fillna(df['BMI'].mean())
df['Temperature']=df['Temperature'].fillna(df['Temperature'].mean())
df['Heart Rate']=df['Heart Rate'].fillna(df['Heart Rate'].mean())
df['Blood Pressure']=df['Blood Pressure'].fillna(df['Blood Pressure'].mean())
df['Cholesterol']=df['Cholesterol'].fillna(df['Cholesterol'].mean())
df['Diabetes']=df['Diabetes'].fillna(df['Diabetes'].mode()[0])
df['Smoking']=df['Smoking'].fillna(df['Smoking'].mode()[0])
df.isna().sum()

In [ ]:
df.drop_duplicates(inplace=True)

# 3.2 Exercises - Data Cleaning and Transformations with ”Titanic Dataset”:

## Dataset Used: "titanic.csv"

In [ ]:
df=pd.read_csv("Dataset/Titanic-Dataset.csv")

### Problem - 1:
Create a DataFrame that is subsetted for the columns ’Name’, ’Pclass’, ’Sex’, ’Age’, ’Fare’, and ’Survived’. Retain only those rows where ’Pclass’ is equal to 1, representing first-class passengers. What is the mean, median, maximum value, and minimum value of the ’Fare’ column?

In [ ]:
columns_to_keep = ['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']
df_subset = df[columns_to_keep]
df_first_class = df_subset[df_subset['Pclass'] == 1]
mean=df_first_class['Fare'].mean()
median=df_first_class['Fare'].median()
maximum_value=df_first_class['Fare'].max()
minimum_value=df_first_class['Fare'].min()
print("Mean:", mean)
print("Median:", median)
print("Maximum Value:", maximum_value)
print("Minimum Value:", minimum_value)

### Problem - 2:
How many null values are contained in the ’Age’ column in your subsetted DataFrame? Once you’ve found
this out, drop them from your DataFrame.

In [ ]:
null_of_age=df_subset['Age'].isna().sum()
df_subset.dropna(subset=['Age'],inplace=True)
df_subset['Age'].isna().sum()

### Problem - 3:

The ’Embarked’ column in the Titanic dataset contains categorical data representing the ports of embarkation:

  • ’C’ for Cherbourg

  • ’Q’ for Queenstown

   • ’S’ for Southampton


  Task:
1. Use one-hot encoding to convert the ’Embarked’ column into separate binary columns (’Embarked C’, ’Embarked Q’, ’Embarked S’).
2. Add these new columns to the original DataFrame.
3. Drop the original ’Embarked’ column.
4. Print the first few rows of the modified DataFrame to verify the changes.

In [ ]:
one_hot_encoding = pd.get_dummies(df['Embarked'], dtype="int64")
df=pd.concat([df,one_hot_encoding],axis=1)
print(df)
df.drop(columns=['Embarked'],inplace=True)
print(df)
df.iloc[1:5,0:15]

### Problem - 4:

Compare the mean survival rates (’Survived’) for the different groups in the ’Sex’ column. Draw a visualization to show how the survival distributions vary by gender.

In [ ]:
import matplotlib.pyplot as plt
survival_rates=df.groupby('Sex')['Survived'].mean()
print(survival_rates)
survival_rates.plot(kind='bar')
plt.xlabel('Sex')
plt.ylabel('Survival Rate')
plt.title('Survival Rate by Sex')
plt.show()

### Problem - 5:

Draw a visualization that breaks your visualization from Exercise 3 down by the port of embarkation (’Embarked’). In this instance, compare the ports ’C’ (Cherbourg), ’Q’ (Queenstown), and ’S’ (Southampton).

In [ ]:
import matplotlib.pyplot as plt
survived_C = df[df["C"] == 1]["Survived"].value_counts()
survived_Q = df[df["Q"] == 1]["Survived"].value_counts()
survived_S = df[df["S"] == 1]["Survived"].value_counts()
plot_df = pd.DataFrame({
    "C": survived_C,
    "Q": survived_Q,
    "S": survived_S
}).T
print(plot_df)
plot_df = plot_df.fillna(0)
plot_df.plot(kind='bar')
plt.title("Survival Count by Port (C, Q, S)")
plt.xlabel("Port")
plt.ylabel("Number of Passengers")
plt.legend(["Died", "Survived"])
plt.show()

### Problem - 6{Optional}:
Show how the survival rates (’Survived’) vary by age group and passenger class (’Pclass’). Break up the ’Age’ column into five quantiles in your DataFrame, and then compare the means of ’Survived’ by class and age group. Draw a visualization using a any plotting library to represent this graphically.

In [ ]:
bins = [0, 12, 18, 30, 50, 80]
labels = ["Child", "Teen", "Young Adult", "Adult", "Senior"]
df["age_group"] = pd.cut(df["Age"], bins=bins, labels=labels, include_lowest=True)
survived_rates=df.groupby(["Pclass", "age_group"])["Survived"].mean()
survived_rates.unstack("Pclass").plot(kind="line",marker='o')
plt.xlabel('Age Group')
plt.ylabel('Survival Rate')
plt.title('Survival Rate by Age Group')
plt.show()